{% extends 'store/basic.html' %}
{% block body %} 
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'store/css/storehome.css' %}">{% endblock %}

{% for i in categories %}

{% if i.name != "No category" %}
  
<a class="categorylink" href="category/{{i.name}}">
<div  class="category ">

  <div class="sidecol col-xs-1 col-sm-1" ></div>

    <div  class="col-xs-10 col-sm-10 shadow-sm p-3 mb-5 bg-body container">

      <!--Slider will be started here -->
      <div class="row">
        
        <div class="col-sm-3 col-xs-3 category-image-div"><img class="category-image" src="/media/{{i.image}}" alt=""></div>
        <div class="col-sm-9 col-xs-9 category-description-div">
          <p class="discount">{% if i.discount.discount_type == "a" and i.discount.discount != 0 %}Discount of Rs. {{i.discount.discount}} {% endif %} {% if i.discount.discount_type == "p" and i.discount.discount != 0 %}Discount of {{i.discount.discount}} percent {% endif %}</p>
          <h1>{{i.name}}</h1>
          <p>{{i.description}}</p>
        </div>
      </div>
      <div class="row">
            <div hidden='true' id="myslider{{i}}" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <!--inner carousel -->
              <div class="carousel-inner">
                <!--slides 1 -->
                <div class="carousel-item active" data-bs-interval="1000000000">


                  <div class="row">


                    <div class="product col-sm-4">
                      <h1>Watch </h1>
                      <p>product 1 in carousel 1</p>
                    </div>

                    <div class="product col-sm-4">
                      <h1>Tie </h1>
                      <p>product 2 in carousel 1</p>
                    </div>

                    <div class="product col-sm-4">
                      <h1>Shoes </h1>
                      <p>product 3 in carousel 1</p>
                    </div>


                  </div>

                </div>
                <!--slides 2 -->
                <div class="carousel-item ">
                  <h1>carousel 2 </h1>
                  <p>This is carousel 2 and it is just for demo purposes</p>
                </div>
                <!--slides 3 -->
                <div class="carousel-item ">
                  <h1>carousel 3 </h1>
                  <p>This is carousel 3 and it is just for demo purposes</p>
                </div>

              </div>



              <ul class="carousel-indicators">

                <li  data-bs-target="#myslider{{i}}" data-bs-slide-to=0 class="active"></li>
                <li  data-bs-target="#myslider{{i}}" data-bs-slide-to=1></li>
                <li  data-bs-target="#myslider{{i}}" data-bs-slide-to=2></li>
    
              </ul>

              <button class="carousel-control-prev" type="button" data-bs-target="#myslider{{i}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myslider{{i}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
 <!--                                         Slider will be end here                                                  -->
      </div>

    </div>

  <div class="sidecol col-xs-1 col-sm-1"></div>

</div>


</a>









{% endif %}

{% endfor %}

{% endblock %}
{% block title %}Home page {% endblock %}